<section class="my-section">
    <h2>Inscription</h2>

    <!--affichage des blog si l'expression est vrai-->
    <!--si c'est vrai on affiche ca -->
    @if (error){
        <p style="color: red;"> {{ error}} </p>
    }
    <!--en cas de succés -->
    @if (success){
        <p style="color: rgb(15, 225, 92);"> {{ success }} </p>
    }

    <!--listes des erreures 422 champ par champ-->
    @if (erreursChamps.length){
        <ul style="color: rgb(196, 20, 167); margin: .5rem 0 1rem;">
            @for (listedeserreur of erreursChamps; track $index){
                <li> <strong> {{ listedeserreur.field }} </strong> </li>
            }
        </ul>
    }
    <!--mon partie formulaire-->
    <!--qaund on valide le formulaire Angular appelle onSubmit() dans mon .ts -->
    <form (ngSubmit)="onSubmit()">

        <!--nom de l'utilisateur -->
        <label>
           
            <input [(ngModel)]="name" name="name" required placeholder="Nom complet"/>
        </label>

        <!--email-->
        <label>
           
            <input type="email" [(ngModel)]="email" name="email" required placeholder="E-mail" />
        </label>

        <!--nom d'utilisateur-->
        <label>
            
            <input [(ngModel)]="username" name="username" required  placeholder="Nom d'utilisateur"/>
        </label>

        <!--mot de passe-->
        <label>
            
            <!--pour masquer la saisie du mot de passe j'utilise type...-->
            <input type="password" [(ngModel)]="password" name="password" required placeholder="Crée un mot de passe">
        </label>

        <label>
            
            <input type="password" [(ngModel)]="password2" name="password2" required  placeholder="Confirmer le mot de passe"/>
        </label>

        <!--Button -->
        <button type="submit"> Crée mon compte </button>


    </form>
</section>
