<section class="my-section">
    <h2>Connexion</h2>
    <!--messages globales genre sur succés ou erreur-->
    @if (info)  {<p style="color:green"> {{ info }} </p>}
    @if (error)  {<p style="color: red;"> {{ error}} </p>}
    @if (success)  {<p style="color: violet;"> {{ success }} </p>}

    <!--pour declencher le onSubmit() qd on clique sur se connecter-->
    <!--partie formulaire-->
    <form (ngSubmit)="onSubmit()">
        <label style="display: block; margin:8px 0;"> 
         
        <input [(ngModel)]="identifier" name="identifier" required  placeholder=" Votre identifiant"/>
        </label>

        <!--mot de passe -->
        <label style="display:block; margin: 8px 0;">
           
            <input type="password" [(ngModel)]="password" name="password" required placeholder=" Mot de passe"/>
        </label>
        <!--pour tester l'admin-->
        <label style="display: block; margin: 8px 0;">
            Rôle
            <select [(ngModel)]="role" name="role">
                <option value="USER">Utilisateur</option>
                <option value="ADMIN">Admin</option>
            </select>
        </label>

        <!--mon button principal-->
        <button type="submit">Se connecter </button>
    </form>

</section>
