<!--Titre et sous titre-->
<header>
  <h2>Nos Produits</h2>
  <p>Découvrez notre sélection de produits de qualité</p>
</header>
 <!--message qui sera afficher si un utilisateur ajoute un produit au panier-->
  @if (flash){
    <p style="margin-top: 12px; color: blueviolet;"> {{ flash}} </p>
  }
<!--profil et l'icon du panier -->
<section>

 <a routerLink="/profil" aria-label="Mon profil" title="Mon profil" class="profil-btn">
  <mat-icon class="material-symbols-outlined" style="font-size:22px;line-height:1;">
    person
  </mat-icon>
</a>

  <!-- lien icône : "Voir mon panier" -->
<a routerLink="/panier" aria-label="Voir panier" title="Voir mon panier" class="panier-btn">
  <span class="material-symbols-outlined">shopping_cart</span>

</a>
</section>

<!--pour la barre de recherche de produits -->
<!--Chaque frappe met à jour query, qui est utilisée par filtered()-->
<input placeholder="Rechercher" [(ngModel)]="query" style="margin: 12px 0; width: 100%; max-width: 420px;"/>

<!--boucle d'affichage des produits filtrés -->
@for (produits of filtered(); track produits.id){
    <!--les produits-->
    <article>
        <img [src]="produits.imageUrl" [alt]="produits.name" width="90" height="90" />

        <!--nom du produits-->
        <h3 style="opacity:.8; margin:0 0 6px;"> {{produits.name}} </h3>

        <!--description du produits-->
        <p style="opacity:.8; margin:0 0 6px;"> {{produits.description}} </p>

        <!--pour le prix je l'ai formaté en euro avec le pipe genre currency-->
        <div style="font-weight:bold; margin-bottom:8px;"> {{produits.price | currency:'EUR'}} </div>
        
        <!--boutton pour ajouter dans le panier-->
        <button (click)="addToCart(produits)"> Ajouter au panier</button>

    </article>
  
}
  <br>
  <br>
  <button (click)="logout()" class="deconnect"> Se déconnecter</button>
