<nav style="display: flex; gap:12px; padding: 15px; background-color: darkgreen; border-bottom: 1px solid #e5f5e5;"></nav>
<section style="text-align:center; padding:24px;" class="section-principale">
  <!--Mon titre-->
  <div class="content">
     <h1>Bienvenue sur Soramfr</h1>
  <!--sous titres -->
  <p>Votre boutique spécialisée en produits d’autodéfense légaux et sécurisés.</p>

  </div>
 

  <!--mes bouttons-->
  <div class="zone-bouton">
    <!--mes liens -->
    <a routerLink="/inscription" class="btn-inscrire" style="font-weight:bold;">S’inscrire</a>
    <br>
    <br>
    <a routerLink="/connexion" class="btn-connexion"style="font-weight:bold;">Se connecter</a>
  </div>
</section>
